######################################################################
##                                                                Exporters                                                                 ##
######################################################################
version: '3.5'
networks:
  web_net:
    external: true
  exporters_net:
    external: false


services:
  #######################################
  ####### nginx for exporters ######
  #######################################
  nginx-exporters:
    image: nginx:alpine
    container_name: prom-nginx-exporters
    depends_on:
      - cadvisor
      - node-exporter
    restart: unless-stopped
    ports:
      - 6000:80
      - 6020:81
      - 6030:82
    networks:
      - exporters_net
      - web_net
    volumes:
      - /opt/exporters/nginx/configs/nginx.conf:/etc/nginx/nginx.conf
      - /opt/exporters/nginx/configs/htpasswd/:/home/

  #######################################
  ############ node exporter ############  
  #######################################
  node-exporter:
    image: prom/node-exporter:latest
    container_name: prom-node-exporter
    hostname: node-exporter
    restart: unless-stopped
    #ports:
    #  - 9100:9100
    networks:
      - exporters_net

  #######################################
  ############## cadvisor ###############
  #######################################
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: prom-cadvisor
    hostname: cadvisor
    restart: unless-stopped
    #ports:
    #  - 8080:8080
    volumes:
      - /:/rootfs:ro 
      - /var/run:/var/run:ro 
      - /sys:/sys:ro 
      - /data/docker/:/var/lib/docker:ro 
      - /dev/disk/:/dev/disk:ro
    depends_on:
      - redis 
    networks:
      - exporters_net
  redis:
    image: redis:latest
    container_name: redis-cadvisor
    restart: unless-stopped
    #ports:
    #  - 6379  
    networks:
      - exporters_net

  #######################################
  ######### pipelines exporter ##########  
  #######################################
  pipelines-exporter:
    image: mvisonneau/gitlab-ci-pipelines-exporter:latest
    container_name: pipelines-exporter
    restart: unless-stopped
    #ports:
    #  - 8585:8080
    volumes:
      - /opt/exporters/pipelines/config.yml:/etc/config.yml 
    environment:
      GCPE_CONFIG: /etc/config.yml
    networks:
      - web_net

